In [ ]:
"""
Go celule 9 pour le filtrage des données
"""

import pandas as pd
import numpy as np

In [2]:
movie_metadata = pd.read_csv("..\data\movies_metadata.csv", sep = ",")
movie_credits = pd.read_csv("..\data\credits.csv", sep = ",")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\matthieu.catteyfaye\AppData\Local\Temp\ipykernel_1752\3983187168.py:1: SyntaxWarning: invalid escape sequence '\d'
  movie_metadata = pd.read_csv("..\data\movies_metadata.csv", sep = ",")
C:\Users\matthieu.catteyfaye\AppData\Local\Temp\ipykernel_1752\3983187168.py:2: SyntaxWarning: invalid escape sequence '\d'
  movie_credits = pd.read_csv("..\data\credits.csv", sep = ",")
C:\Users\matthieu.catteyfaye\AppData\Local\Temp\ipykernel_1752\3983187168.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_metadata = pd.read_csv("..\data\movies_metadata.csv", sep = ",")

In [3]:
movie_metadata.original_title[movie_metadata.adult=="True"].head()

19489    Le notti erotiche dei morti viventi
28701                               Standoff
31934                                  發電悄嬌娃
32113                            Diet of Sex
39901             Amateur Porn Star Killer 2
Name: original_title, dtype: object

In [4]:
movie_metadata.groupby("genres").size()

genres
[]                                                                                                                                                                                                                 2442
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10751, 'name': 'Family'}, {'id': 14, 'name': 'Fantasy'}]                                                                                    1
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10751, 'name': 'Family'}]                                                                                                                   2
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10752, 'name': 'War'}]                                                                                                                      1
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 14, 'name': 'Fantasy'}]                                                                                                                     1
                                                                                                                                                                                                                   ...
[{'id': 99, 'name': 'Documentary'}, {'id': 9648, 'name': 'Mystery'}]                                                                                                                                                  4
[{'id': 99, 'name': 'Documentary'}]                                                                                                                                                                                2723
[{'name': 'Aniplex', 'id': 2883}, {'name': 'GoHands', 'id': 7759}, {'name': 'BROSTA TV', 'id': 7760}, {'name': 'Mardock Scramble Production Committee', 'id': 7761}, {'name': 'Sentai Filmworks', 'id': 33751}]       1
[{'name': 'Carousel Productions', 'id': 11176}, {'name': 'Vision View Entertainment', 'id': 11602}, {'name': 'Telescene Film Group Productions', 'id': 29812}]                                                        1
[{'name': 'Odyssey Media', 'id': 17161}, {'name': 'Pulser Productions', 'id': 18012}, {'name': 'Rogue State', 'id': 18013}, {'name': 'The Cartel', 'id': 23822}]                                                      1
Length: 4069, dtype: int64

In [5]:
for i in movie_metadata.original_title[movie_metadata.adult=="True"].head():
    print(i)

Le notti erotiche dei morti viventi
Standoff
發電悄嬌娃
Diet of Sex
Amateur Porn Star Killer 2

In [6]:
movie_metadata["status"].value_counts()

status
Released           45014
Rumored              230
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: count, dtype: int64

In [7]:
movie_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
movie_metadata["budget"].value_counts() #Beaucoup de budjets à 0 => colonne non exploitable

budget
0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
12200000        1
65700           1
64200           1
707503          1
8620000         1
Name: count, Length: 1226, dtype: int64

In [9]:
"""
Les colonnes qui m'ont semblées les plus pertinantes : 
'id', 'original_title', 'genres', 'original_language' et 'runtime' sont explicitement demandées dans l'énoncé.
'release_date', 'production_countries', 'production_companies', 'status' sont des infos suplémentaires que j'ai trouvé intéressantes.
'popularity' peut être intéressante pour les recommandations. 
"""


movie_metadata_filtre = movie_metadata[["id", "original_title", "genres", "release_date", "original_language", "production_countries", "production_companies", "runtime", "popularity", "status"]]
movie_metadata_filtre

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.7129,Released
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released
...,...,...,...,...,...,...,...,...,...,...
45461,439050,رگ خواب,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,fa,"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",[],90.0,0.072051,Released
45462,111109,Siglo ng Pagluluwal,"[{'id': 18, 'name': 'Drama'}]",2011-11-17,tl,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'name': 'Sine Olivia', 'id': 19653}]",360.0,0.178241,Released
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003-08-01,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'American World Pictures', 'id': 6165}]",90.0,0.903007,Released
45464,227506,Satana likuyushchiy,[],1917-10-21,en,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'name': 'Yermoliev', 'id': 88753}]",87.0,0.003503,Released
45465,461257,Queerama,[],2017-06-09,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",[],75.0,0.163015,Released

In [23]:
"""
J'ai suprimmé les lignes avec des données manquantes, autre possibilité : remplacer les données manquantes.
Il manquait des données dans toutes les colonnes sauf 'id', 'original_title' et 'genres'.
"""

movie_metadata_filtre.dropna(inplace=True)
movie_metadata_filtre

C:\Users\matthieu.catteyfaye\AppData\Local\Temp\ipykernel_1752\1247561451.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_filtre.dropna(inplace=True)

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.7129,Released
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released
...,...,...,...,...,...,...,...,...,...,...
45460,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991-05-13,en,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",104.0,5.683753,Released
45462,111109,Siglo ng Pagluluwal,"[{'id': 18, 'name': 'Drama'}]",2011-11-17,tl,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'name': 'Sine Olivia', 'id': 19653}]",360.0,0.178241,Released
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003-08-01,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'American World Pictures', 'id': 6165}]",90.0,0.903007,Released
45464,227506,Satana likuyushchiy,[],1917-10-21,en,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'name': 'Yermoliev', 'id': 88753}]",87.0,0.003503,Released
45465,461257,Queerama,[],2017-06-09,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",[],75.0,0.163015,Released

In [24]:
movie_metadata_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45043 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    45043 non-null  object
 1   original_title        45043 non-null  object
 2   genres                45043 non-null  object
 3   release_date          45043 non-null  object
 4   original_language     45043 non-null  object
 5   production_countries  45043 non-null  object
 6   production_companies  45043 non-null  object
 7   runtime               45043 non-null  float64
 8   popularity            45043 non-null  object
 9   status                45043 non-null  object
dtypes: float64(1), object(9)
memory usage: 3.8+ MB

In [20]:
"""
89 langues différentes. À voir comment une recherche par langue peut être implémentée.
"""
print(movie_metadata_filtre["original_language"].value_counts().iloc[0:50:])
print(movie_metadata_filtre["original_language"].value_counts().iloc[51:89:])

original_language
en    32130
fr     2413
it     1466
ja     1349
de     1028
es      965
ru      805
hi      508
ko      444
zh      408
sv      382
cn      313
pt      306
fi      272
nl      241
da      224
pl      212
tr      138
cs      129
el      109
no      105
fa       99
hu       98
ta       78
th       76
he       67
sr       63
ro       57
te       45
ar       39
ml       36
xx       33
bn       29
hr       29
mr       24
is       24
et       23
tl       23
id       20
ka       18
sl       17
uk       16
lv       16
bs       14
ca       12
bg       10
ab       10
vi       10
lt        9
sk        9
Name: count, dtype: int64
original_language
nb    6
wo    5
ms    5
sh    5
sq    5
mk    5
eu    3
ku    3
bm    3
kk    3
kn    3
ky    3
ne    2
bo    2
mn    2
lo    2
pa    2
iu    2
af    2
ps    2
am    2
cy    1
fy    1
la    1
eo    1
zu    1
tg    1
jv    1
qu    1
rw    1
ay    1
gl    1
sm    1
uz    1
mt    1
hy    1
lb    1
si    1
Name: count, dtype: int64

In [ ]:
"""
J'ai converti les données de la colonne 'popularity' en float pour pouvoir les comparer.
Conversion des id en int64 pour qu'ils aient le même type que dans la table credits.
"""
movie_metadata_filtre["popularity"] = pd.to_numeric(movie_metadata_filtre["popularity"])
movie_metadata_filtre['id'] = pd.to_numeric(movie_metadata_filtre['id'])
movie_metadata_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45043 entries, 0 to 45465
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    45043 non-null  int64
 1   original_title        45043 non-null  object
 2   genres                45043 non-null  object
 3   release_date          45043 non-null  object
 4   original_language     45043 non-null  object
 5   production_countries  45043 non-null  object
 6   production_companies  45043 non-null  object
 7   runtime               45043 non-null  float64
 8   popularity            45043 non-null  float64
 9   status                45043 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 3.8+ MB

C:\Users\matthieu.catteyfaye\AppData\Local\Temp\ipykernel_1752\3811420740.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_filtre["popularity"] = pd.to_numeric(movie_metadata_filtre["popularity"])
C:\Users\matthieu.catteyfaye\AppData\Local\Temp\ipykernel_1752\3811420740.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_filtre['id'] = pd.to_numeric(movie_metadata_filtre['id'])

In [32]:
movie_metadata_filtre.sort_values("popularity", ascending=True)

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status
45432,323132,Altar of Fire,"[{'id': 99, 'name': 'Documentary'}]",1976-01-01,en,[],[],45.0,0.000000,Released
34210,315256,Dahshat,"[{'id': 27, 'name': 'Horror'}]",1981-06-19,hi,"[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'name': 'Ramsay Productions', 'id': 9259}]",0.0,0.000000,Released
43769,149336,The Challenge... A Tribute to Modern Art,"[{'id': 99, 'name': 'Documentary'}]",1974-12-05,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],104.0,0.000000,Released
40130,186372,Scenes from the Class Struggle in Portugal,[],1977-10-11,en,[],[],90.0,0.000000,Released
21003,293552,At the River I Stand,[],1993-01-01,en,[],[],0.0,0.000000,Released
...,...,...,...,...,...,...,...,...,...,...
24455,177572,Big Hero 6,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",2014-10-24,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",102.0,213.849907,Released
43644,339403,Baby Driver,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2017-06-28,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'name': 'Big Talk Productions', 'id': 443}, ...",113.0,228.032744,Released
42222,321612,Beauty and the Beast,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2017-03-16,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",129.0,287.253654,Released
33356,297762,Wonder Woman,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2017-05-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Dune Entertainment', 'id': 444}, {'...",141.0,294.337037,Released
30700,211672,Minions,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2015-06-17,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",91.0,547.488298,Released

In [30]:
movie_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB