In [34]:
"""
Go celule 9 pour le filtrage des données
"""

import pandas as pd
import numpy as np

In [35]:
movie_metadata = pd.read_csv("..\data\movies_metadata.csv", sep = ",")
movie_credits = pd.read_csv("..\data\credits.csv", sep = ",")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\matth\AppData\Local\Temp\ipykernel_7400\3983187168.py:1: SyntaxWarning: invalid escape sequence '\d'
  movie_metadata = pd.read_csv("..\data\movies_metadata.csv", sep = ",")
C:\Users\matth\AppData\Local\Temp\ipykernel_7400\3983187168.py:2: SyntaxWarning: invalid escape sequence '\d'
  movie_credits = pd.read_csv("..\data\credits.csv", sep = ",")
C:\Users\matth\AppData\Local\Temp\ipykernel_7400\3983187168.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_metadata = pd.read_csv("..\data\movies_metadata.csv", sep = ",")

In [36]:
movie_metadata.original_title[movie_metadata.adult=="True"].head()

19489    Le notti erotiche dei morti viventi
28701                               Standoff
31934                                  發電悄嬌娃
32113                            Diet of Sex
39901             Amateur Porn Star Killer 2
Name: original_title, dtype: object

In [37]:
movie_metadata.groupby("genres").size()

genres
[]                                                                                                                                                                                                                 2442
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10751, 'name': 'Family'}, {'id': 14, 'name': 'Fantasy'}]                                                                                    1
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10751, 'name': 'Family'}]                                                                                                                   2
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 10752, 'name': 'War'}]                                                                                                                      1
[{'id': 10402, 'name': 'Music'}, {'id': 10749, 'name': 'Romance'}, {'id': 14, 'name': 'Fantasy'}]                                                                                                                     1
                                                                                                                                                                                                                   ...
[{'id': 99, 'name': 'Documentary'}, {'id': 9648, 'name': 'Mystery'}]                                                                                                                                                  4
[{'id': 99, 'name': 'Documentary'}]                                                                                                                                                                                2723
[{'name': 'Aniplex', 'id': 2883}, {'name': 'GoHands', 'id': 7759}, {'name': 'BROSTA TV', 'id': 7760}, {'name': 'Mardock Scramble Production Committee', 'id': 7761}, {'name': 'Sentai Filmworks', 'id': 33751}]       1
[{'name': 'Carousel Productions', 'id': 11176}, {'name': 'Vision View Entertainment', 'id': 11602}, {'name': 'Telescene Film Group Productions', 'id': 29812}]                                                        1
[{'name': 'Odyssey Media', 'id': 17161}, {'name': 'Pulser Productions', 'id': 18012}, {'name': 'Rogue State', 'id': 18013}, {'name': 'The Cartel', 'id': 23822}]                                                      1
Length: 4069, dtype: int64

In [38]:
for i in movie_metadata.original_title[movie_metadata.adult=="True"].head():
    print(i)

Le notti erotiche dei morti viventi
Standoff
發電悄嬌娃
Diet of Sex
Amateur Porn Star Killer 2

In [39]:
movie_metadata["status"].value_counts()

status
Released           45014
Rumored              230
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: count, dtype: int64

In [40]:
movie_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [41]:
movie_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [42]:
# La colonne 'spoken_languages' donne toutes les langues parlées dans le film en vo (si j'ai bien compris).
# Je ne pense pas qu'il soit très pertinent de la garder. 
movie_metadata[["original_language", "spoken_languages"]].head(20)

   original_language                                   spoken_languages
0                 en           [{'iso_639_1': 'en', 'name': 'English'}]
1                 en  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 en           [{'iso_639_1': 'en', 'name': 'English'}]
3                 en           [{'iso_639_1': 'en', 'name': 'English'}]
4                 en           [{'iso_639_1': 'en', 'name': 'English'}]
5                 en  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6                 en  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
7                 en  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8                 en           [{'iso_639_1': 'en', 'name': 'English'}]
9                 en  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
10                en           [{'iso_639_1': 'en', 'name': 'English'}]
11                en  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12                en           [{'iso_639_1': 'en', 'name': 'English'}]
13                en           [{'iso_639_1': 'en', 'name': 'English'}]
14                en  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15                en           [{'iso_639_1': 'en', 'name': 'English'}]
16                en           [{'iso_639_1': 'en', 'name': 'English'}]
17                en           [{'iso_639_1': 'en', 'name': 'English'}]
18                en           [{'iso_639_1': 'en', 'name': 'English'}]
19                en           [{'iso_639_1': 'en', 'name': 'English'}]

In [43]:
movie_metadata["budget"].value_counts() #Beaucoup de budjets à 0 => colonne non exploitable

budget
0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
12200000        1
65700           1
64200           1
707503          1
8620000         1
Name: count, Length: 1226, dtype: int64

In [44]:
"""
Les colonnes qui m'ont semblées les plus pertinantes : 
'id', 'original_title', 'genres', 'original_language' et 'runtime' sont explicitement demandées dans l'énoncé.
'release_date', 'production_countries', 'production_companies', 'status' et 'overview' sont des infos suplémentaires que j'ai trouvé intéressantes.
'popularity' peut être intéressante pour les recommandations. 
"""


movie_metadata_filtre = movie_metadata[["id", "original_title", "genres", "release_date", 
                                        "original_language", "production_countries", "production_companies", 
                                        "runtime", "popularity", "status", "overview"]]
movie_metadata_filtre.head()

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,overview
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.7129,Released,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released,Just when George Banks has recovered from his ...

In [45]:
"""
Est-ce utile de suprimer les lignes dans lesquelles il manque des infos?
Oui. C'est triste mais c'est comme ça. 
"""

movie_metadata_filtre.dropna(inplace=True)

movie_metadata_filtre

C:\Users\matth\AppData\Local\Temp\ipykernel_7400\4209819318.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_filtre.dropna(inplace=True)

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,overview
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.7129,Released,A family wedding reignites the ancient feud be...
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released,Just when George Banks has recovered from his ...
...,...,...,...,...,...,...,...,...,...,...,...
45460,30840,Robin Hood,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",1991-05-13,en,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",104.0,5.683753,Released,"Yet another version of the classic epic, with ..."
45462,111109,Siglo ng Pagluluwal,"[{'id': 18, 'name': 'Drama'}]",2011-11-17,tl,"[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'name': 'Sine Olivia', 'id': 19653}]",360.0,0.178241,Released,An artist struggles to finish his work while a...
45463,67758,Betrayal,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003-08-01,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'American World Pictures', 'id': 6165}]",90.0,0.903007,Released,"When one of her hits goes wrong, a professiona..."
45464,227506,Satana likuyushchiy,[],1917-10-21,en,"[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'name': 'Yermoliev', 'id': 88753}]",87.0,0.003503,Released,"In a small town live two brothers, one a minis..."
45465,461257,Queerama,[],2017-06-09,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",[],75.0,0.163015,Released,50 years after decriminalisation of homosexual...

In [46]:
movie_metadata_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44361 entries, 0 to 45465
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44361 non-null  object
 1   original_title        44361 non-null  object
 2   genres                44361 non-null  object
 3   release_date          44361 non-null  object
 4   original_language     44361 non-null  object
 5   production_countries  44361 non-null  object
 6   production_companies  44361 non-null  object
 7   runtime               44361 non-null  float64
 8   popularity            44361 non-null  object
 9   status                44361 non-null  object
 10  overview              44361 non-null  object
dtypes: float64(1), object(10)
memory usage: 4.1+ MB

In [47]:
"""
89 langues différentes. À voir comment une recherche par langue peut être implémentée.
"""
print(movie_metadata_filtre["original_language"].value_counts().iloc[0:50:])
print(movie_metadata_filtre["original_language"].value_counts().iloc[51:89:])

original_language
en    32072
fr     2278
ja     1346
it     1264
de      962
es      924
ru      782
hi      506
ko      444
zh      406
sv      367
cn      313
pt      295
fi      226
nl      226
da      222
pl      202
cs      125
tr      112
el      105
no      103
fa       99
hu       91
ta       78
th       76
he       65
sr       63
ro       54
te       45
ar       38
ml       36
xx       33
bn       29
hr       29
mr       24
is       24
tl       23
et       22
id       20
ka       18
sl       17
uk       16
lv       16
bs       14
ca       12
vi       10
bg       10
lt        9
sk        9
ab        9
Name: count, dtype: int64
original_language
nb    6
wo    5
ms    5
sh    5
sq    5
mk    5
eu    3
ku    3
bm    3
kk    3
kn    3
ky    3
ne    2
bo    2
mn    2
lo    2
pa    2
iu    2
af    2
ps    2
am    2
cy    1
fy    1
la    1
eo    1
zu    1
tg    1
jv    1
qu    1
rw    1
ay    1
gl    1
sm    1
uz    1
mt    1
hy    1
lb    1
si    1
Name: count, dtype: int64

In [48]:
"""
J'ai converti les données de la colonne 'popularity' en float pour pouvoir les comparer.
Conversion des id en int64 pour qu'ils aient le même type que dans la table credits.
"""
movie_metadata_filtre["popularity"] = pd.to_numeric(movie_metadata_filtre["popularity"])
movie_metadata_filtre['id'] = pd.to_numeric(movie_metadata_filtre['id'])

movie_metadata_filtre.info()

C:\Users\matth\AppData\Local\Temp\ipykernel_7400\3553978011.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_filtre["popularity"] = pd.to_numeric(movie_metadata_filtre["popularity"])

<class 'pandas.core.frame.DataFrame'>
Index: 44361 entries, 0 to 45465
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44361 non-null  int64
 1   original_title        44361 non-null  object
 2   genres                44361 non-null  object
 3   release_date          44361 non-null  object
 4   original_language     44361 non-null  object
 5   production_countries  44361 non-null  object
 6   production_companies  44361 non-null  object
 7   runtime               44361 non-null  float64
 8   popularity            44361 non-null  float64
 9   status                44361 non-null  object
 10  overview              44361 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 4.1+ MB

C:\Users\matth\AppData\Local\Temp\ipykernel_7400\3553978011.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_metadata_filtre['id'] = pd.to_numeric(movie_metadata_filtre['id'])

In [49]:
movie_metadata_filtre.sort_values("popularity", ascending=False)

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,overview
30700,211672,Minions,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2015-06-17,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",91.0,547.488298,Released,"Minions Stuart, Kevin and Bob are recruited by..."
33356,297762,Wonder Woman,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2017-05-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Dune Entertainment', 'id': 444}, {'...",141.0,294.337037,Released,An Amazon princess comes to the world of Man t...
42222,321612,Beauty and the Beast,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2017-03-16,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",129.0,287.253654,Released,A live-action adaptation of Disney's version o...
43644,339403,Baby Driver,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2017-06-28,en,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...","[{'name': 'Big Talk Productions', 'id': 443}, ...",113.0,228.032744,Released,After being coerced into working for a crime b...
24455,177572,Big Hero 6,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",2014-10-24,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",102.0,213.849907,Released,The special bond that develops between plus-si...
...,...,...,...,...,...,...,...,...,...,...,...
43025,364834,Los indolentes,[],1979-06-28,en,[],[],107.0,0.000000,Released,Wealthy family in the 1940s have failed to cha...
20764,417399,Pilvilinna,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",1970-11-27,en,"[{'iso_3166_1': 'FI', 'name': 'Finland'}]",[],89.0,0.000000,Released,Teenager Erik returns from Paris to Finland in...
36193,380841,Veljet,"[{'id': 99, 'name': 'Documentary'}]",1991-12-13,en,[],[],100.0,0.000000,Released,Documentary following the Finnish rock band Si...
42213,388586,O erotas tou Odyssea,[],1984-03-18,en,[],[],0.0,0.000000,Released,Directed by Vasilis Vafeas
45432,323132,Altar of Fire,"[{'id': 99, 'name': 'Documentary'}]",1976-01-01,en,[],[],45.0,0.000000,Released,This film records a 12 day ritual performed by...

In [50]:
movies_credits_joined = pd.merge(movie_metadata_filtre, movie_credits, on='id')

movies_credits_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44436 entries, 0 to 44435
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44436 non-null  int64
 1   original_title        44436 non-null  object
 2   genres                44436 non-null  object
 3   release_date          44436 non-null  object
 4   original_language     44436 non-null  object
 5   production_countries  44436 non-null  object
 6   production_companies  44436 non-null  object
 7   runtime               44436 non-null  float64
 8   popularity            44436 non-null  float64
 9   status                44436 non-null  object
 10  overview              44436 non-null  object
 11  cast                  44436 non-null  object
 12  crew                  44436 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 4.4+ MB

In [51]:
movies_credits_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44436 entries, 0 to 44435
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44436 non-null  int64
 1   original_title        44436 non-null  object
 2   genres                44436 non-null  object
 3   release_date          44436 non-null  object
 4   original_language     44436 non-null  object
 5   production_countries  44436 non-null  object
 6   production_companies  44436 non-null  object
 7   runtime               44436 non-null  float64
 8   popularity            44436 non-null  float64
 9   status                44436 non-null  object
 10  overview              44436 non-null  object
 11  cast                  44436 non-null  object
 12  crew                  44436 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 4.4+ MB

In [53]:
print(movies_credits_joined['genres'])

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
44431    [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
44432                        [{'id': 18, 'name': 'Drama'}]
44433    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
44434                                                   []
44435                                                   []
Name: genres, Length: 44436, dtype: object

In [54]:
import pandas as pd

import ast

movies_credits_joined['genres'] = movies_credits_joined['genres'].apply(ast.literal_eval)

movies_credits_joined['genres'] = movies_credits_joined['genres'].apply(lambda x: ', '.join([d['name'] for d in x]))

movies_credits_joined['genres']

0         Animation, Comedy, Family
1        Adventure, Fantasy, Family
2                   Romance, Comedy
3            Comedy, Drama, Romance
4                            Comedy
                    ...
44431        Drama, Action, Romance
44432                         Drama
44433       Action, Drama, Thriller
44434
44435
Name: genres, Length: 44436, dtype: object

In [55]:
movies_credits_joined['cast'] = movies_credits_joined['cast'].apply(ast.literal_eval)

movies_credits_joined['cast'] = movies_credits_joined['cast'].apply(lambda x: ', '.join([d['name'] for d in x]))
movies_credits_joined['cast']

0        Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...
1        Robin Williams, Jonathan Hyde, Kirsten Dunst, ...
2        Walter Matthau, Jack Lemmon, Ann-Margret, Soph...
3        Whitney Houston, Angela Bassett, Loretta Devin...
4        Steve Martin, Diane Keaton, Martin Short, Kimb...
                               ...
44431    Patrick Bergin, Uma Thurman, David Morrissey, ...
44432    Angel Aquino, Perry Dizon, Hazel Orencio, Joel...
44433    Erika Eleniak, Adam Baldwin, Julie du Page, Ja...
44434    Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...
44435
Name: cast, Length: 44436, dtype: object

In [56]:
movies_credits_joined['production_countries'] = movies_credits_joined['production_countries'].apply(ast.literal_eval)

movies_credits_joined['production_countries'] = movies_credits_joined['production_countries'].apply(lambda x: ', '.join([d['name'] for d in x]))
movies_credits_joined['production_countries']

0                                 United States of America
1                                 United States of America
2                                 United States of America
3                                 United States of America
4                                 United States of America
                               ...
44431    Canada, Germany, United Kingdom, United States...
44432                                          Philippines
44433                             United States of America
44434                                               Russia
44435                                       United Kingdom
Name: production_countries, Length: 44436, dtype: object

In [57]:
movies_credits_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44436 entries, 0 to 44435
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44436 non-null  int64
 1   original_title        44436 non-null  object
 2   genres                44436 non-null  object
 3   release_date          44436 non-null  object
 4   original_language     44436 non-null  object
 5   production_countries  44436 non-null  object
 6   production_companies  44436 non-null  object
 7   runtime               44436 non-null  float64
 8   popularity            44436 non-null  float64
 9   status                44436 non-null  object
 10  overview              44436 non-null  object
 11  cast                  44436 non-null  object
 12  crew                  44436 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 4.4+ MB

In [122]:
movies_credits_joined.to_csv('movies_metadata_credits_joined.csv', index=False)

In [ ]:
# movies_credits_joined.to_csv('movies_metadata_credits_joined.csv', index=False)

In [ ]:
"""
J'ai ajouté le nouveau dataset sur GitHub. Possibilité de le modifier à l'avenir.
"""
# movie_metadata_filtre.to_csv('movies_metadata_filtre.csv', index=False)