In [30]:
import csv
import pandas as pd
import ast

In [31]:
df = pd.read_csv("../data/dataset/movies_metadata_filtre.csv", sep = ",")
df2 = pd.read_csv("../data/dataset/movies_metadata_credits_joined2.csv", sep = ",")
df2.head()

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,cast,crew,genres_names,cast_names,countries_names
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",United States of America
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",United States of America
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.712900,Released,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",United States of America
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devin...",United States of America
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",United States of America

In [ ]:
grouped_language = df.groupby("original_language").size()
grouped_language_filtered = grouped_language[grouped_language >500]
filtered_df = grouped_language_filtered.reset_index(name='count')
filtered_df.sort_values("count", ascending=False)

In [32]:
df["genres"] = df["genres"].apply(ast.literal_eval)

In [33]:
df["genres"] = df["genres"].apply(lambda lst: [d["name"] for d in lst])
# df["production_countries"] = df["production_countries"].apply(lambda lst: [d["name"] for d in lst])
#

In [36]:
df2.head()

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,cast,crew,genres_names,cast_names,countries_names
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",United States of America
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",United States of America
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.712900,Released,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",United States of America
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devin...",United States of America
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",United States of America

In [60]:
df2[df2['genres'].str.contains("Animation", na=False)]

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,cast,crew,genres_names,cast_names,countries_names
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",United States of America
12,21032,Balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Universal Pictures', 'id': 33}, {'n...",78.0,12.140733,Released,"[{'cast_id': 1, 'character': 'Balto (voice)', ...","[{'credit_id': '593f24b9c3a3680369002371', 'de...","Family, Animation, Adventure","Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim C...",United States of America
47,10530,Pocahontas,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",1995-06-14,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",81.0,13.280069,Released,"[{'cast_id': 1, 'character': 'Pocahontas (voic...","[{'credit_id': '52fe43819251416c75013087', 'de...","Adventure, Animation, Drama, Family","Irene Bedard, Mel Gibson, David Ogden Stiers, ...",United States of America
234,15789,A Goofy Movie,"[{'id': 10749, 'name': 'Romance'}, {'id': 16, ...",1995-04-07,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Walt Disney Pictures', 'id': 2}]",78.0,10.177977,Released,"[{'cast_id': 2, 'character': 'Goofy Goof (voic...","[{'credit_id': '53fdbfb00e0a262de8001800', 'de...","Romance, Animation, Family, Comedy, Adventure","Bill Farmer, Jason Marsden, Rob Paulsen, Jim C...",United States of America
239,43475,Gumby: The Movie,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",1995-12-01,en,[],[],77.0,0.090452,Released,[],"[{'credit_id': '52fe464ac3a36847f80f6d61', 'de...","Fantasy, Animation, Science Fiction, Family",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45027,460135,LEGO DC Super Hero Girls: Brain Drain,"[{'id': 16, 'name': 'Animation'}]",2017-08-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros. Animation', 'id': 2785}]",0.0,8.413734,Released,"[{'cast_id': 0, 'character': 'Wonder Woman', '...","[{'credit_id': '593136c092514115e500aafd', 'de...",Animation,"Grey Griffin, Tara Strong, Anais Fairweather, ...",United States of America
45041,175457,Opus II,"[{'id': 16, 'name': 'Animation'}]",1921-12-31,en,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",[],4.0,0.177238,Released,[],"[{'credit_id': '52fe4d5ec3a36847f825d3f3', 'de...",Animation,NaN,Germany
45043,184402,Opus IV,"[{'id': 16, 'name': 'Animation'}]",1925-04-09,de,"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",[],4.0,0.433345,Released,[],"[{'credit_id': '52fe4cbf9251416c751245d1', 'de...",Animation,NaN,Germany
45091,455661,In a Heartbeat,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2017-06-01,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Ringling College of Art and Design'...,4.0,20.821780,Released,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...","Family, Animation, Romance, Comedy",NaN,United States of America
45102,14885,Pooh's Heffalump Halloween Movie,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2005-09-13,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Walt Disney Pictures', 'id': 2}]",67.0,2.568495,Released,"[{'cast_id': 1, 'character': 'Roo (voice)', 'c...","[{'credit_id': '52fe46249251416c7506e969', 'de...","Animation, Family","Jimmy Bennett, Peter Cullen, Jim Cummings, Joh...",United States of America

In [66]:
df2.original_language.agg

<bound method Series.aggregate of 0        en
1        en
2        en
3        en
4        en
         ..
45113    en
45114    tl
45115    en
45116    en
45117    en
Name: original_language, Length: 45118, dtype: object>