In [1]:
import csv
import pandas as pd
import ast

In [2]:
df = pd.read_csv("../data/dataset/movies_metadata_filtre.csv", sep = ",")
df2 = pd.read_csv("../data/dataset/movies_metadata_credits_joined 2.csv", sep = ",")
df2.head()

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,overview,cast,crew
0,862,Toy Story,"Animation, Comedy, Family",1995-10-30,en,United States of America,"[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"Led by Woody, Andy's toys live happily in his ...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,"Adventure, Fantasy, Family",1995-12-15,en,United States of America,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released,When siblings Judy and Peter discover an encha...,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,"Romance, Comedy",1995-12-22,en,United States of America,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.712900,Released,A family wedding reignites the ancient feud be...,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,"Comedy, Drama, Romance",1995-12-22,en,United States of America,[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released,"Cheated on, mistreated and stepped on, the wom...","Whitney Houston, Angela Bassett, Loretta Devin...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Comedy,1995-02-10,en,United States of America,"[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released,Just when George Banks has recovered from his ...,"Steve Martin, Diane Keaton, Martin Short, Kimb...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [ ]:
grouped_language = df.groupby("original_language").size()
grouped_language_filtered = grouped_language[grouped_language >500]
filtered_df = grouped_language_filtered.reset_index(name='count')
filtered_df.sort_values("count", ascending=False)

In [32]:
df["genres"] = df["genres"].apply(ast.literal_eval)

In [33]:
df["genres"] = df["genres"].apply(lambda lst: [d["name"] for d in lst])
# df["production_countries"] = df["production_countries"].apply(lambda lst: [d["name"] for d in lst])
#

In [36]:
df2.head()

,id,original_title,genres,release_date,original_language,production_countries,production_companies,runtime,popularity,status,cast,crew,genres_names,cast_names,countries_names
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,21.946943,Released,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","Animation, Comedy, Family","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",United States of America
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,17.015539,Released,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","Adventure, Fantasy, Family","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",United States of America
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,11.712900,Released,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","Romance, Comedy","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",United States of America
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,en,"[{'iso_3166_1': 'US', 'name': 'United States o...",[{'name': 'Twentieth Century Fox Film Corporat...,127.0,3.859495,Released,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","Comedy, Drama, Romance","Whitney Houston, Angela Bassett, Loretta Devin...",United States of America
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,en,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,8.387519,Released,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Comedy,"Steve Martin, Diane Keaton, Martin Short, Kimb...",United States of America

In [73]:
df2[df2['genres'].str.contains("Drama", na=False)].shape[0]

20228